@import "../../assets/stylesheets/variables";
@import "../../assets/stylesheets/mixins";

.popular-recipes {
  background-color: #fff;
  padding-top: 80px;
  .container {
    max-width: 1220px;
    margin-right: 0;
  }
  .popular-recipes__heading {
    display: flex;
    justify-content: space-between;
    max-width: 1098px;
    margin: 0 auto 65px;
    align-items: flex-end;
    h2 {
      font-size: 65px;
      text-transform: uppercase;
      position: relative;
      line-height: 52px;
      @include strikeThroughText($color-tuft-bush);
      & + .badge {
        margin: 8px auto 0 0;
      }
    }
    h3 {
      font-size: 35px;
      text-transform: uppercase;
      & + .badge {
        margin: 8px 0 0 auto;
      }
    }
  }
  .popular-recipes__carousel {
    overflow: hidden;
    .popular-recipes__carousel__container {
      display: flex;
      transform: translateX(5px);
      transition: transform 300ms linear;
    }
  }
  .recipe {
    margin-right: 25px;
    & > div {
      box-shadow: 0 0 10px 3px #f3f3f3;
      position: relative;
    }
    &.small,
    &.large {
      flex-shrink: 0;
    }
    &.large {
      width: 370px;
      .recipe__image {
        width: 100%;
        height: 370px;
      }
      .recipe__serving {
        padding: 20px;
        .count {
          font-size: 50px;
          line-height: 45px;
        }
      }
    }
    &.small {
      width: 240px;
      .recipe__image {
        height: 240px;
      }
      .recipe__serving {
        font-size: 15px;
        padding: 6px 13px;
        line-height: 1;
        .count {
          font-size: 35px;
          line-height: 45px;
        }
      }
    }
    .recipe__image {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100%;
      text-transform: uppercase;
      &.chef-choice::after {
        background: url('../../assets/images/chef-stamp.png') no-repeat;
        background-size: cover;
        position: absolute;
        height: 110px;
        width: 110px;
        z-index: 9999999;
        top: -48px;
      }
    }
    .recipe__serving {
      background: rgba(0,0,0,.3);
      color: #fff;
      padding: 12px;
      display: inline-block;
      text-align: center;
      font-size: 22px;
      line-height: 25px;
      .count {
        font-size: 50px;
        line-height: 45px;
      }
    }
    .recipe__goto-btn {
      display: block;
      background: url('../../assets/images/go-btn.png') no-repeat;
      background-size: cover;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 60px;
      width: 60px;
      cursor: pointer;
    }
    .recipe__info {
      padding: 18px 25px;
      background: #fff;
      h5 {
        font-size: 15px;
        text-transform: uppercase;
        color: $color-scorpion;
        margin-bottom: 10px;
      }
      h4 {
        font-size: 22px;
        line-height: 25px;
        color: $color-mine-shaft;
        margin-bottom: 10px;
      }
      p {
        font-size: 15px;
        color: $color-scorpion;
        font-family: 'Gill Sans','din_condensedbold',arial;
        line-height: 20px;
      }
    }
    .recipe__user-name {
      font-size: 15px;
      text-transform: uppercase;
      color: $color-mine-shaft;
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;
    }
  }
  .btn-wrapper {
    display: flex;
    justify-content: flex-end;
    max-width: 1098px;
    margin-left: auto;
    margin-right: auto;
    .btn-previous,
    .btn-next {
      -webkit-appearance: none;
      background-repeat: no-repeat;
      cursor: pointer;
      background-size: cover;
      width: 50px;
      border: none;
      background: transparent;
      background-size: cover;
      height: 20px;
      outline: none;
      transition: opacity 300ms linear;
      &.is-disabled {
        opacity: 0.2;
        pointer-events: none
      }
    }
    .btn-previous {
      background-image: url('../../assets/images/back.png');
      margin-right: 15px;
    }
    .btn-next {
      background-image: url('../../assets/images/next.png')
    }
  }
}
