@import '../../assets/stylesheets/variables';
@import '../../assets/stylesheets/mixins';

.community {
  padding-top: 80px;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .column {
      flex-basis: calc(25% - 25px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        font-size: 62px;
        color: $color-mine-shaft;
        text-transform: uppercase;
        line-height: .9;
        &.heading-strikethrough {
          display: inline-block;
          position: relative;
          @include strikeThroughText($color-tuft-bush);
        }
        &.badge {
          margin-left: 0;
        }
      }
      .community__recipe-image {
        padding: 15px;
        box-shadow: 0 0 10px 3px #f3f3f3;
        position: relative;
        &::after {
          content: '';
          background: url('../../assets/images/instagram-btn.png') no-repeat 100% 100%;
          background-size: contain;
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          height: 55px;
          width: 55px;
        }
      }
    }
    .community__tweet {
      box-shadow: 0 0 10px 3px #f3f3f3;
    }
  }
}
