.progress-tracker {
  position: fixed;
  top: 50%;
  left: 10px;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      width: 15px;
      height: 5px;
      margin-bottom: 10px;
      background: #000;
      transition: width 300ms linear;
      &.active {
        width: 30px;
      }
    }
  }
}
