@import "./variables";

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans.woff2') format('woff2'),
        url('../fonts/GillSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din_condensedbold';
    src: url('../fonts/din_condensed_bold-webfont.woff2') format('woff2'),
         url('../fonts/din_condensed_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'din_condensedbold','Gill Sans',arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 1098px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $color-dove-gray;
}
.badge {
  font-size: 18px;
  background: $color-tuft-bush;
  text-transform: uppercase;
  padding: 5px 15px;
  max-width: 105px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
