.banner {
  background: url('../../assets/images/bg-pic.png') no-repeat center;
  background-size: cover;
  height: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: #ffffff;
    font-size: 82px;
    text-transform: uppercase;
    text-align: center;
    line-height: 95px;
    position: relative;
    &:before {
      content: '';
      background: url('../../assets/images/stamp.png') no-repeat center;
      display: block;
      height: 140px;
      position: absolute;
      top: -150px;
      left: -160px;
      width: 165px;
      background-size: contain;
    }
    strong {
      display: block;
      font-size: 115px;
    }
    small {
      display: block;
      font-size: 24px;
      line-height: 52px;
    }
  }
  .banner__info {
    position: fixed;
    right: -15px;
    background: #ffffff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    padding: 4px 10px;
    transform: rotate(-90deg);
    cursor: pointer;
  }
}

.section1 {
    background: teal;
    height: 800px;
  }
  .section2 {
    background: aqua;
    height: 800px;
  }
  .section3 {
    background: gray;
    height: 800px;
  }
  .section4 {
    background: pink;
    height: 800px;
  }
  .section5 {
    background: violet;
    height: 800px;
  }
  .section6 {
    background: teal;
    height: 800px;
  }
